{% extends "layout.html" %}

{% block title %}
    Volunteer History
{% endblock %}

{% block main %}
    <h1>Attended Events</h1>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th class="text-start">Event ID</th>
                <th class="text-end">Organization Name</th>
                <th class="text-end">Start Date/Time</th>
                <th class="text-end">End Date/Time<th>
            </tr>
        </thead>
       <tbody>
            {% for history in events_attended %}
                <tr>
                    <td class="text-start">{{ history[0] }}</td>
                    <td class="text-end">{{ history[1] }}</td>
                    <td class="text-end">{{ history[2] }}</td>
                    <td class="text-end">{{ history[3] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <h1>Hosted Events</h1>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th class="text-start">Application ID</th>
                <th class="text-end">Approval ID</th>
                <th class="text-end">Application Name</th>
                <th class="text-end">Date Approved</th>
                <th class="text-end">Start Date/Time</th>
                <th class="text-end">End Date/Time</th>
            </tr>
        </thead>
       <tbody>
            {% for history in events_hosted %}
                <tr>
                    <td class="text-start">{{ history[0] }}</td>
                    <td class="text-end">{{ history[1] }}</td>
                    <td class="text-end">{{ history[2] }}</td>
                    <td class="text-end">{{ history[3] }}</td>
                    <td class="text-end">{{ history[4] }}</td>
                    <td class="text-end">{{ history[5] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
